body{
    margin:0px
    }

ul{
    list-style: none;
    align-items: center;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
    }

.logo{
    height: 100px;
}

@font-face {
    font-family: 'Trampoline';
    src: url('trampoline.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('trampoline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  

.button{
    border: 0px;
    border-radius: 10px;
    padding: 2px 2px;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Trampoline';
    }

.button:hover{
    cursor: pointer;
    box-shadow: 1px 1px #1C5466;
    transform: scale(1.1);
}

.botonPrincipal:focus{
    cursor: pointer;
    background-color: #1C5466;
    font-weight: bolder;
    font-family: 'Trampoline';
    color:white;
}

.botonSecundario:active{
    cursor: pointer;
    background-color: #1C5466;
    font-weight: bolder;
    font-family: 'Trampoline';
    color:white;
}

.botonPrincipal{
    background-color: #00C0E4;
    color: #1C5466;
    padding: 10px 30px;
        
}

.botonSecundario{
    background-color: #00C0E4;
    color: #1C5466;
    padding: 10px 30px;    
}


.centrarButton{
    margin-left: 25%;
    margin-right: 25%;
}

.contenedor{
    font-weight: bolder;
    font-family: 'Trampoline';
    color: #1C5466;
    display: grid;
    grid-column: auto;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 100%;
    align-items:center;
    }

.divSpacing{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 3%;
        margin-right: 3%;
   }
  
.cuadroTexto{
    background-color: white;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px;
 }

 .cuadroTexto > input{
    outline: none;
    border: 0px;
 }

 .buscar{
    display:flex;
    justify-content:space-between;
    padding: 1px;
 }

 .imagenProducto{
    height: 250px;
    border-radius: 50%;
    border: 1px solid gray;
 }

 .tablaExcel{
     height: 100%;
     width: 90%;
 }



